<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Send Data With POST Method</h1>
    <form method="post" action="/proc">
      <table>
        <tr>
          <td><label for="">UID</label></td>
          <td><input type="text" name="uid" /></td>
        </tr>
        <tr>
          <td><label for="">PWD</label></td>
          <td><input type="password" name="pwd" /></td>
        </tr>
      </table>
      <input type="submit" value="" />
    </form>
  </body>
</html>
